.recipe-detail {
    border: solid 3px rgb(245, 129, 20);
    -webkit-border-radius: 11px;
    border-radius: 11px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    padding: 2vw;
}