.recipe-detail {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 0px;
    margin-right: 1vw;
    margin-bottom: 2vw;
    padding-right: 2vw;
    -webkit-box-shadow: 7px 9px 25px 17px rgba(50, 50, 50, 0.61);
    -moz-box-shadow: 7px 9px 25px 17px rgba(50, 50, 50, 0.61);
    box-shadow: 7px 9px 25px 17px rgba(50, 50, 50, 0.61);
}

#recipe-description-style {
    border: 1px solid black;
    padding: 1vw;
    margin: 1vw;
}