    button {
        margin: 0.5vw;
    }
    
    #ingredient-style {
        border: 2px solid rgba(255, 43, 43, 0.815);
        -webkit-border-radius: 14px;
        border-radius: 14px;
        margin: 1.5vw;
        padding: 5vw;
        -webkit-box-shadow: 4px 7px 8px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 4px 7px 8px 4px rgba(0, 0, 0, 0.53);
        -webkit-border-radius: 22px;
    }
    
    #ingredient-heading-title {}
    
    input {
        opacity: 0.7;
        border: none;
        border-bottom: 2px solid red;
        background-color: transparent;
        border-radius: 0px;
    }
    
    button {
        border: none;
        background-color: rgb(245, 4, 44);
        border-radius: 0px;
    }
    
    button:hover {
        -webkit-box-shadow: 4px 7px 8px 4px rgba(0, 0, 0, 0.53);
        box-shadow: 4px 7px 8px 4px rgba(0, 0, 0, 0.53);
    }